
<form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="space-y-8 max-w-4xl mx-auto p-6 bg-white">
  <h1 class="text-3xl font-bold text-center">Quiz Form</h1>

  <div formArrayName="questions" class="space-y-6">
    @let questionsControl = quizForm.controls.questions.controls;
    @for (question of questionsControl; track questionIndex; let questionIndex = $index) {
      <div [formGroupName]="questionIndex" class="p-4 border rounded-lg space-y-4">
        <div [id]="'question-' + questionIndex" class="flex flex-col">
            <div class="flex items-center gap-4">
              <input 
                type="text" 
                formControlName="question" 
                placeholder="Type your question..." 
                class="flex-1 px-4 py-2 border rounded focus:outline-none focus:ring focus:border-blue-400"
              />
              <button 
                type="button" 
                (click)="removeQuestion(questionIndex)" 
                class="text-red-500 hover:text-red-700 text-xl font-bold cursor-pointer"
                aria-label="Remove question"
              >✘</button>
            </div>
            @let questionGroupControls = questionsControl.at(questionIndex)?.controls!;
            @let questionControl = questionGroupControls.question;
            @let questionErr = questionControl.errors;
            <!-- == {{ questionErr | json }} == -->
            @if(questionErr && (questionControl.touched || questionControl.dirty)) {
                @if(questionErr['required']) {
                    <small class="text-red-600">Question is required</small>
                }
                @if (questionErr['minlength']) {
                    @let requiredLength = questionErr['minlength']['requiredLength'];
                    <small class="text-red-600">Minimum {{ requiredLength }} character{{ requiredLength > 1 ? 's' : ''}} required</small>
                }
                @if (questionErr['maxlength']) {
                    @let requiredLength = questionErr['maxlength']['requiredLength'];
                    <small class="text-red-600">Maximum {{ requiredLength }} character{{ requiredLength > 1 ? 's' : ''}} allowed</small>
                }
            }
        </div>

        
        @let answersControls = questionGroupControls?.answers?.controls;
        @if(questionGroupControls && answersControls) {
            <div formArrayName="answers" class="space-y-4">
                <h2 class="text-lg font-semibold">Answers</h2>
                @for (answer of answersControls; track answerIndex; let answerIndex = $index) {
                    <div [formGroupName]="answerIndex" [id]="'question-' + questionIndex + '-answer-' + answerIndex" class="flex flex-col">
                        <div class="flex items-center gap-4">
                            <input 
                                type="text" 
                                [placeholder]="'Answer ' + (answerIndex + 1)" 
                                formControlName="answer" 
                                class="flex-1 px-4 py-2 border rounded focus:outline-none focus:ring focus:border-blue-400"
                            />
                            <button 
                                type="button" 
                                (click)="removeAnswer(questionIndex, answerIndex)" 
                                class="text-red-500 hover:text-red-700 text-xl font-bold cursor-pointer"
                                aria-label="Remove answer"
                            >✘</button>
                        </div>
                        @let answerControl = answersControls.at(answerIndex)?.controls?.answer!;
                        @let answerErr = answerControl.errors;
                        <!-- == {{ answerErr | json }} == -->
                        @if(answerErr && (answerControl.touched || answerControl.dirty)) {
                            @if(answerErr['required']) {
                                <small class="text-red-600">Answer is required</small>
                            }
                            @if (answerErr['minlength']) {
                                @let requiredLength = answerErr['minlength']['requiredLength'];
                                @let actualLength = answerErr['minlength']['actualLength'];
                                <small class="text-red-600">Minimum {{ requiredLength }} character{{ requiredLength > 1 ? 's' : ''}} required. Current : {{ actualLength }}</small>
                            }
                            @if (answerErr['maxlength']) {
                              @let requiredLength = answerErr['maxlength']['requiredLength'];
                              @let actualLength = answerErr['maxlength']['actualLength'];
                              <small class="text-red-600">Maximum {{ requiredLength }} character{{ requiredLength > 1 ? 's' : ''}} allowed. Current : {{ actualLength }}</small>
                            }
                        }
                    </div>
                }
                <button 
                    type="button" 
                    (click)="addAnswer(questionIndex)" 
                    class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition cursor-pointer"
                    aria-label="Add answer"
                    >Add Answer</button>
            </div>
        }
        @let answersErr =  questionGroupControls?.answers?.errors;
        <!-- {{ answersErr | json }} -->
        @if(answersErr) {
            @if (answersErr['minlength']) {
                @let requiredLength = answersErr['minlength']['requiredLength'];
                @let actualLength = answersErr['minlength']['actualLength'];
                <small [id]="`answer-count-error-q${questionIndex}`" class="text-red-600">Minimum {{ requiredLength }} answer{{ requiredLength > 1 ? 's' : ''}} required. Current : {{ actualLength }}</small>
            }
            @if (answersErr['maxlength']) {
                @let requiredLength = answersErr['maxlength']['requiredLength'];
                @let actualLength = answersErr['maxlength']['actualLength'];
                <small [id]="`answer-count-error-q${questionIndex}`" class="text-red-600">Maximum {{ requiredLength }} answer{{ requiredLength > 1 ? 's' : ''}} allowed. Current : {{ actualLength }}</small>
            }
        }
      </div>
    }
  </div>

    @let questionsErr = quizForm.controls.questions.errors;
    @if(questionsErr) {
        @if (questionsErr['minlength']) {
          @let requiredLength = questionsErr['minlength']['requiredLength'];
          @let actualLength = questionsErr['minlength']['actualLength'];
          <small id="question-count-error" class="text-red-600">Minimum {{ requiredLength }} question{{ requiredLength > 1 ? 's' : ''}} required. Current : {{ actualLength }}</small>
        }
        @if (questionsErr['maxlength']) {
          @let requiredLength = questionsErr['maxlength']['requiredLength'];
          @let actualLength = questionsErr['maxlength']['actualLength'];
          <small id="question-count-error" class="text-red-600">Maximum {{ requiredLength }} question{{ requiredLength > 1 ? 's' : ''}} allowed. Current : {{ actualLength }}</small>
        }
    }

  <div class="text-center">
    <button 
      type="button" 
      (click)="addQuestion()" 
      class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition cursor-pointer"
      aria-label="add question"
    >Add Question</button>
  </div>


  <div class="text-center">
    <button 
      type="submit" 
      class="px-6 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 transition cursor-pointer"
    >Submit</button>
  </div>
</form>
